html,
body {
    margin: 0;
    border: 0;
    background-image: linear-gradient(0.96turn, #94a3b8, #1e293b);
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

head {
    flex: 1 1 auto;
}

h1 {
    color: #f5f5f5;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 2px;
    outline: 1px solid black;
}

div#list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 60vw;
    min-height: 35px;
}

.itemList:first-child {
    border-radius: 2px 2px 0 0;
}

.itemList:nth-child(n + 2) {
    border-top: 0;
}

.itemList {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-size: large;
    border: 2px solid slategray;
    padding: 5px;
    max-height: 37px;
}

.itemList > span {
    flex: 1;
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
}

.checkItem {
    background-color: gainsboro;
}
.checkItem > span {
    color: grey;
    text-decoration-line: line-through;
}

.deleteButton {
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #475569;
    color: white;
    transition: 20ms;
}

.deleteButton:hover {
    background-color: #334155;
}

.deleteButton:active {
    background-color: #64748b;
    transform: scale(0.9);
}

input[type="checkbox"] {
    margin: 0px 10px;
    transform: scale(1.5);
}

div#add {
    display: flex;
    width: 60vw;
    height: 38px;
    border-radius: 2px;
}

input#title {
    flex: 4;
    margin: 0;
    border-bottom-left-radius: 2px;
}

button#add {
    flex: 1;
    margin: 0;
    border-bottom-right-radius: 2px;
}
